<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://pk11functionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/08cbeb9c-3be5-4a09-9e63-7ec3e5a7d2b0/resourceGroups/RG_Queue/providers/Microsoft.Web/sites/pk11functionapp</ResourceId>
    <UserName>$pk11functionapp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://pk11functionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>